plugin/jp2kakadu/profiles/itt_encoding_profiles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by simone (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jp2ep="http://openuri.org/easypo" targetNamespace="http://openuri.org/easypo" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="JP2EncodingProfile">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="name" type="xs:string" minOccurs="0"/>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
				<!--													  											  -->
				<!--													  											  -->
				<!--											Cblk  											  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="Cblk" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="vertical" default="4">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="4"/>
										<xs:maxInclusive value="1024"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="horizontal" default="64">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="4"/>
										<xs:maxInclusive value="1024"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											Clayers										  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="Clayers" default="1" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:minInclusive value="1"/>
							<xs:maxInclusive value="65535"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											Clevels										  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="Clevels" default="5" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											Corder											  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="Corder" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="LRCP"/>
							<xs:enumeration value="RLCP"/>
							<xs:enumeration value="RPCL"/>
							<xs:enumeration value="PCRL"/>
							<xs:enumeration value="CPRL"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											Cprecincts									  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="Cprecincts" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="precinct" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="vertical">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="0"/>
													<xs:maxInclusive value="32786"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="horizontal">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="0"/>
													<xs:maxInclusive value="32786"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											Creversible									  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="Creversible" default="no" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="yes"/>
							<xs:enumeration value="no"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											Cycc											  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="Cycc" default="no" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="yes"/>
							<xs:enumeration value="no"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											ORGgen_plt								  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="ORGgen_plt" default="no" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="yes"/>
							<xs:enumeration value="no"/>
							<xs:enumeration value="layer"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											ORGgen_tlm								  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="ORGgen_tlm" type="xs:integer" minOccurs="0"/>
				<xs:element name="bpppb" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:float">
							<xs:minExclusive value="0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											flush_period								  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="flush_period" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:minInclusive value="128"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											no_info										  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="no_info" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="yes"/>
							<xs:enumeration value="no"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											ORGtparts									  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="ORGtparts" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="R"/>
							<xs:enumeration value="L"/>
							<xs:enumeration value="C"/>
							<xs:enumeration value="R|L"/>
							<xs:enumeration value="R|C"/>
							<xs:enumeration value="L|C"/>
							<xs:enumeration value="R|L|C"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											Qguard										  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="Qguard" type="xs:integer" minOccurs="0"/>
				<!--													  											  -->
				<!--													  											  -->
				<!--											Qstep										  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="Qstep" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:float">
							<xs:minExclusive value="0"/>
							<xs:maxExclusive value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											Stiles											  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="Stiles" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TileWidth" default="0">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="4294967295"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TileHeight" default="0" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:maxInclusive value="4294967295"/>
										<xs:minInclusive value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											no_ident										  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="no_ident" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="yes"/>
							<xs:enumeration value="no"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											Quality											  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="Quality" default="20" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:float">
							<xs:maxInclusive value="100"/>
							<xs:minInclusive value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											GMLJP2										  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="GMLJP2" default="YES" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="YES"/>
							<xs:enumeration value="NO"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											GeoJP2										  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="GeoJP2" default="YES" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="YES"/>
							<xs:enumeration value="NO"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											Comseg										  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="Comseg" default="YES" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="YES"/>
							<xs:enumeration value="NO"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--													  											  -->
				<!--													  											  -->
				<!--											Flush 											  -->
				<!--													  											  -->
				<!--													  											  -->
				<xs:element name="Flush" default="YES" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="YES"/>
							<xs:enumeration value="NO"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
